@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Hanken Grotesk Bold";
    src: url("/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
    font-family: "Hanken Grotesk ExtraBold";
    src: url("/fonts/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
    font-family: "Hanken Grotesk Medium";
    src: url("/fonts/HankenGrotesk-Medium.ttf");
}

.mainCard {
    width: 738px;
    height: 513px;
    max-width: 738px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px 20px rgba(103, 66, 255, 0.05);
    font-family: "Hanken Grotesk";
    text-align: center;
}

/* .mainCard p {
    margin: 0;
    padding: 0;
} */

.mainCard h1 {
    font-family: "Hanken Grotesk Bold";
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rectangle {
    background: transparent;
    height: 513px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--results-dark-gray-blue);
    font-weight: bold;
    padding: 0 1.5rem;
}

.number {
    color: var(--results-white);
}

.rectangle:first-of-type {
    background: var(--results-background-gradient);
    border-radius: 30px;
    color: var(--results-light-lavender);
    padding: 0 4.5rem;
    font-weight: normal;
}

.rectangle:first-of-type h1 {
    font-size: 36px;
    margin: 30px 0 16px 0;
    color: var(--results-pale-blue);
    font-family: "Hanken Grotesk Medium";
}

.rectangle:first-of-type h2 {
    font-size: 24px;
    margin: 30px 0;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    border-radius: 999px;
    background: var(--results-circle-gradient);
}

.individual {
    width: 100%;
    margin: 0.5rem 1.5rem;
    padding: 1rem 1rem;
    /* display: flex; */
    justify-content: space-between;
    border-radius: 10px;
}

.content {
    display: flex;
}

.individual:nth-child(2){
    background-color: var(--results-light-red-bg);
    color: var(--results-light-red, 1);
}

.individual:nth-child(3){
    background-color: var(--results-orange-yellow-bg);
    color: var(--results-orange-yellow);
}

.individual:nth-child(4){
    background-color: var(--results-green-teal-bg);
    color: var(--results-green-teal);
}

.individual:nth-child(5){
    background-color: var(--results-cobalt-blue-bg);
    color: var(--results-cobalt-blue);
}

.individual p {
    color: var(--results-dark-gray-blue);
}

.button {
    width: 100%;
    position: relative;
    background-image: var(--result-dark-blue-gradient);
    color: var(--results-white);
    border-radius: 999px;
    padding: 1rem;
    margin: 2rem;
    transition: background-color 300ms;
    z-index: 1;
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--results-background-gradient);
    z-index: -1;
    transition: opacity 200ms linear;
    opacity: 0;
    border-radius: 999px;
}

.button:hover::before {
    opacity: 1;
}


@media screen and (max-width: 420px) {
    .mainCard {
        width: 100%;
        height: unset;
        border-radius: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr ;
    }

    .rectangle {
        padding: 0 2rem;
        font-weight: 800;
    }

    .rectangle:first-of-type {
        max-height: 350px;
        border-radius: 0 0 30px 30px;
        padding: 0 2.5rem;
    }

    .rectangle:first-of-type h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    .rectangle:first-of-type h1 {
        font-size: 24px;
        margin: 10px 0;
        color: var(--results-pale-blue);
        font-family: "Hanken Grotesk Medium";
    }

    .circle {
        height: 140px;
        width: 140px;
    }

    .button {
        margin: 1rem 0;
    }
}